@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blockPhonebook {
  padding: 20px;
  background-image: url(./image/2.2.3.jpg);
  background-color: rgb(221, 247, 238);
}
/* 
.formWrapper {
  background-color: aqua;

  padding: 2px;
} */

.titlePhonebook {
  color: transparent;
  -webkit-text-stroke: 1px aqua;
  text-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}

.alertMessage {
  color: red;
  font-size: 30px;
}
